.form-container{
    background-color: #24303c;
    color: #1daf88;
    padding: 10px;
}
.inputs{
    background-color:#24303c ;
}
.inp-date{
    color: #1daf88;
}
.singup{
    background-color:#1daf88 ;
    color: #fff;
}